/* src/Cart.css */
/* src/Cart.css */
/* src/Cart.css */

/* Estilos para el modal con formulario de contacto */
.modal-content {
  margin: 0 auto;
  padding: 20px;
  max-width: 90%; /* Asegura que el modal no sea demasiado ancho */
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  max-height: 90vh; /* Limita la altura del modal */

}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-content label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

.modal-content input, 
.modal-content textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.modal-content input:focus, 
.modal-content textarea:focus {
  border-color: #caffbf;
  outline: none;
}

.modal-content .submit-button {
  padding: 12px;
  margin: 2px;
  font-size: 16px;
  color: #000000;
  background-color: #caffbf;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content .submit-button:hover {
  background-color: #caffbf;
}

.modal-content .loader {
  margin-top: 20px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #caffbf;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilos para el nuevo modal de consulta */
.consult-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.consult-option {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.consult-option:hover {
  background-color: #e0e0e0;
}

.consult-icon {
  font-size: 24px;
  margin-right: 10px;
}

.cart-summary {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
}

.subtotal-label {
  font-size: 1.2em;
  font-weight: 600;
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  max-width: 500px;
  width: 50%;
  margin: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.confirm-button, .cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  transition: background-color 0.3s;
}

.confirm-button {
  background: #caffbf;
  color: #010101;
}

.confirm-button:hover {
  background: #caffbf;
}

.cancel-button {
  background: #dc3545;
  color: #ffffff;
}

.cancel-button:hover {
  background: #c82333;
}

.cart {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background: #ffffff;
  color: #8a8a8a;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Ajusta el ancho según tus necesidades */
  max-width: 1200px; /* Máximo ancho para mantener el contenedor no muy ancho en pantallas grandes */
  margin: 20px auto; /* Centra el contenedor horizontalmente */
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.empty-message {
  text-align: center;
  font-size: 1.3em;
  color: #6c757d;
  margin-top: 20px;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden; /* Evita que los elementos se salgan del contenedor */
}

.cart-item:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.cart-item-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-details {
  margin-bottom: 15px;
}

.cart-item-name {
  font-size: 1.6em;
  margin: 0;
  color: #212529;
  font-weight: 600;
}

.cart-item-description {
  font-size: 1.1em;
  margin: 5px 0;
  color: #495057;
}

.cart-item-price {
  font-size: 1.3em;
  margin: 5px 0;
  color: #495057;
  font-weight: 500;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.quantity-button {
  padding: 10px 15px;
  border: none;
  background-color: #caffbf;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s;
}
.quantity-label {
  font-size: 0.9em;
  color: #6c757d;
  margin-bottom: 5px;
}
.quantity-button:hover {
  background-color: #a5fc93;
}

.quantity-display {
  width: 50px;
  text-align: center;
  margin: 0;
  font-size: 1.1em;
  font-weight: 500;
}

.remove-button {
  background: none;
  border: none;
  color: #dc3545;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s;
  position: absolute;
  right: 20px; /* Ajusta para centrar más a la derecha */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente */
}

.remove-button:hover {
  color: #c82333;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.consult-button, .clear-cart {
  padding: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  transition: background-color 0.3s;
}

.consult-button {
  width: 35%;
  background: #caffbf;
  color: #000000;
}

.consult-button:hover {
  background: #95ff7f;
}

.clear-cart {
  width: 35%;
  background: #caffbf;
  color: #000000;
}

.clear-cart:hover {
  background: #e64a19;
}