/* src/Footer.css */

.footer {
  background-color: #fdffb6; /* Fondo amarillo pálido para un look suave y acogedor */
  color: #343a40; /* Texto en color gris oscuro para un buen contraste */
  padding: 10px 0;
  text-align: center;
  flex-shrink: 0; /* Esto asegura que el footer se mantenga en la parte inferior */

}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
  max-width: 550px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #343a40; /* Encabezados en gris oscuro para coherencia */
}

.footer-section p {
  margin: 5px 0;
  color: #6c757d; /* Texto en gris suave para una apariencia profesional */
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icon {
  width: 40px;
  height: 40px;
  color: #343a40; /* Íconos en gris oscuro para contraste */
  margin: 0 10px;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: 50%;
}

.social-icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.logo-section p {
  width: 550;
  font-size: 0.7em;
  color: #343a40; /* Texto en gris oscuro para mantener la coherencia */
}
